body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:coral
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(76, 42, 42, 0.1);
}

h1 {
    text-align: center;
    color: #231010;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #58165d;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #007BFF;
}